@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'italia';
  font-style: normal;
  font-weight: 100 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/playwriteitmoderna/v4/mFTuWaYCwKPK5cx6W8jy2kwDnSUe9q45vR4sxoXdAA.woff2)
    format('woff2');
}
